.site-footer {
	background-color: $footer-color;
	height: $footer-height;
	color: $medium-grey;
}

.site-footer .wrap {
	padding: $footer-wrap-padding;
	height: $footer-wrap-height;
	text-align: center;
}

// Customize Footer Credits Text in Functions.php.