.site-header {
	height: $header-height;
	background-color: $header-color;
	border-bottom: 1px solid $beige;
}

.site-header .wrap {
	height: $header-height;
	margin: 0 0;
	@include breakpoint($medium) {
        margin: $site-content-margin;
    }
    @include breakpoint($large) {
        margin: $header-large-site-content-margin;
    }
}	

.title-area {
	max-width: 210px;
	padding: 0.8rem 0rem;
	@include breakpoint($medium) {
        max-width: 225px;
        float: left;
    }
}

.header-widget-area {
	width: 100%;
	margin: auto;
	@include breakpoint($medium) {
        width: 730px;
        float: right;
    }
}

.nav-header {
	background-color: $white;
	margin: 0;
	@include breakpoint($medium) {
		background-color: transparent;
    }
}

// FIXME: DISPLAY IS CURRENTLY NONE
.site-title {
	display: none;
}

.js-superfish {
	margin: 0;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
	color: #333;
	text-decoration: none;
}

.header-image .site-title > a {
	background-position: center !important;
	background-size: contain !important;
}

// FIXME: DISPLAY IS CURRENTLY NONE
.site-description {
	display: none;
}

// Div with a clear to separeate header from page content
.after-header-clear {
	clear: both;
}

/*--------------------------------------------- */
/* ## Nav Responsive Styling
/* Based on Robin Cornett's solution for mobile menu
 https://robincornett.com/genesis-responsive-menu/
------------------------------------------------*/

/* Navigation toggles
--------------------------------------------- */
.sub-menu-toggle,
.menu-toggle {
	display: none;
	visibility: hidden;
	border: none;
}

@media only screen and (max-width: $medium) {

	nav {
		display: none;
		position: relative;
	}

	nav .wrap {
		padding: 0;
	}

	nav.pagination {
		display: block;
	}

	.menu-toggle,
	.sub-menu-toggle {
		display: block;
		visibility: visible;
		overflow: hidden;
		margin: 0 auto;
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		background-color: transparent;
	}

// FIXME STYLE THIS TO MOVE TOGGLE INTO HEADER ON MOBILE
	.menu-toggle {
		background-color: #333;
		position: relative;
		padding: 15px 12px;
		right: 0;
		z-index: 1000;
		color: white;
		width: 100%;
		height: $menu-toggle-height;
	}

	.menu-toggle:before,
	.menu-toggle.activated:before {
		display: inline-block;
		font: normal normal normal 20px FontAwesome;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		content: "\f0c9";
		padding-right: 12px;
	}

	.sub-menu-toggle {
		background: transparent;
		float: right;
		position: absolute;
		top: 0;
		right: 0;
		padding: 18px;
		z-index: 100;
	}

	.sub-menu-toggle:before {
		display: inline-block;
		font: normal normal normal 16px FontAwesome;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		content: "\f107";
	}

	.sub-menu-toggle.activated:before {
		content: "\f106";
	}

	.genesis-nav-menu .menu-item {
		display: block;
		position: relative;
		text-align: left;
	}

	.genesis-nav-menu .menu-item a {
		width: 100%;
	}

	.genesis-nav-menu .menu-item:hover {
		position: relative;
	}

	.genesis-nav-menu .menu-item > a:focus ul.sub-menu,
	.genesis-nav-menu .menu-item > a:focus ul.sub-menu .sub-menu {
		left: 0;
		margin-left: 0;
	}

	.genesis-nav-menu > .menu-item-has-children > a:after {
		content: none;
	}

	.genesis-nav-menu .sub-menu {
		display: none;
		clear: both;
		margin: 0;
		position: static;
		width: 100%;
		opacity: 1;
	}

	.genesis-nav-menu .sub-menu .sub-menu {
		margin: 0;
	}

	.genesis-nav-menu .sub-menu a {
		border-left: none;
		border-right: none;
		color: #eee;
	}

	.nav-primary .genesis-nav-menu .sub-menu a {
		background-color: #333;
		color: #eee;
	}
}

/*--------------------------------------------- */
/* ## Nav Visual Styling
// FIXME ALL STYLING MAY NOT BE NECESSARY
// ADAPTED FROM GENESIS SAMPLE THEME
------------------------------------------------*/
.genesis-nav-menu a {
	color: $text-color;
	display: block;
	padding: 20px 0;
/*	border: 1px solid red;*/
}

.genesis-nav-menu .sub-menu a {
	color: $text-color;
}

@include breakpoint($medium) {

	.widget .widget_nav_menu {
		height: $header-height;
	}

	.header-widget-area .genesis-nav-menu {
		margin: 0;
	}

	.genesis-nav-menu .menu-item {
		height: $header-height;
		display: inline-block;
		margin: 0;
		padding: 0;
		text-align: right;
	}

	// FIXME DON'T USE ID
	#menu-primary-nav-menu {
		padding: 0;
	}

	.genesis-nav-menu a {
		color: #333;
		display: block;
		text-decoration: none;
		font-size: $medium-point-size * 0.95;
    	padding: 25.5px 0.7rem;
	}

	.genesis-nav-menu a:hover {
	    border-bottom: 3px solid $yellow;
	}

	.genesis-nav-menu .sub-menu a:hover {
		border: none;
	}

	.genesis-nav-menu a:focus,
	.genesis-nav-menu a:hover,
	.genesis-nav-menu .current-menu-item > a,
	.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
	.genesis-nav-menu .sub-menu .current-menu-item > a:hover  {
		color: $text-color;
		text-decoration: underline;
	}

	.genesis-nav-menu .sub-menu {
		background-color: $light-grey;
		left: -9999px;
		position: absolute;
		-webkit-transition: opacity .4s ease-in-out;
		-moz-transition:    opacity .4s ease-in-out;
		-ms-transition:     opacity .4s ease-in-out;
		-o-transition:      opacity .4s ease-in-out;
		transition:         opacity .4s ease-in-out;
		width: 150px;
		z-index: 99;
		padding: 0;
	}

	.genesis-nav-menu .sub-menu:hover {
		border-top: 3px solid $yellow;
	}	

	.genesis-nav-menu .sub-menu a {
		padding: 15px 0;
		padding-left: 25px;
		position: relative;
		width: 125px;
		word-wrap: break-word;
		text-align: left;
		font-size: $medium-point-size * 0.95;
	}

	// NOT BEING USED
/*	.genesis-nav-menu .sub-menu .sub-menu {
		margin: -56px 0 0 199px;
	}*/

	.genesis-nav-menu .menu-item {
		height: 50px;
		border-top: 1px solid $white;
		border-bottom: 1px solid $white;
	}

	.genesis-nav-menu .menu-item:hover {
		position: static;

	}

	.genesis-nav-menu .menu-item:hover > .sub-menu {
		left: auto;
		opacity: 1;
	}

	.genesis-nav-menu > .first > a {
		padding-left: 0;
	}

	.genesis-nav-menu > .last > a {
		padding-right: 0;
	}

	.genesis-nav-menu > .right {
		float: right;
	}
}

/*--------------------------------------------- */
/* ## Screen Reader Text
* adapted from genesis-sample theme from Studiopress
--------------------------------------------- */
// Text section, but using the styles.
.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus {
	background: #fff;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
	clip: auto !important;
	color: #333;
	display: block;
	font-size: 1em;
	font-weight: bold;
	height: auto;
	padding: 15px 23px 14px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.more-link {
	position: relative;
}

/* # Skip Links
* adapted from genesis-sample theme from Studiopress
---------------------------------------------------------------------------------------------------- */

.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	list-style: none;
	width: 0;
}

/* Display outline on focus */
:focus {
	color: #333;
	outline: #ccc solid 1px;
}