.post-template-default {

	.site-inner {
		padding-top: 1rem;
	}

	.content-sidebar-wrap {
		max-width: 1170px;
		@include breakpoint($large) {
        	margin: 0 auto;
    	}
	}

	h1 {
		color: $post-heading-color;
	}

	.content {
		@include breakpoint($medium) {
        	padding-right: 3.5rem;
    	}
    	@include breakpoint($large) {
        	padding-right: 4rem;
    	}
	}

	.post, .attachment-post-image {
		width: 100%;
		@include breakpoint($medium) {
        	max-width: 660px;
    	}
	}

	.entry-header {
		padding: 0rem 0rem 1.5rem 0rem;
		border-bottom: 3px solid $subtle-grey;
		margin-bottom: 1.7rem;
	}

/*	// Position post info above post title
	// https://gist.github.com/srikat/8469623
	// FIXME: Remove action not working so is display none in css
	// See Functions.php*/
	.entry-meta:nth-child(3) {
		display: none;
	}

	.entry-title {
		text-align: left;
	}

	.entry-meta {

	}

	.entry-content, .entry-comments h3, .entry-comments .comment-list {
		width: 100%;
/*		@include breakpoint($medium) {
        	width: 460px;
        	float: right;
    	}*/
		@include breakpoint($medium) {
        	max-width: 565px;
			float: right;
    	}
	}

	.entry-comments h3, .entry-comments .comment-list {
		width: 100%;
/*		@include breakpoint($medium) {
        	width: 460px;
        	float: right;
    	}*/
		@include breakpoint($medium) {
        	max-width: 565px;
			float: right;
    	}
	}

	// FIXME SHOULD REMOVE IF NOT DISPLAYED
	.entry-footer {
		display: none;
	}

	.sidebar {
		background-color: $light-grey;
		padding: 0;
		@include breakpoint($medium) {
        	width: 300px;
        	float: right;
    	}
		@include breakpoint($large) {
        	width: 370px;
			float: right;
    	}
	}
}