.site-inner,
.wrap {
	margin: 0 auto;
}

// FIXME WHEN MENU TOGGLE MOVES, REMOVE THE TOGGLE HEIGHT
.site-inner {
	word-wrap: break-word;
	margin-top: $menu-toggle-height;
	@include breakpoint($medium) {
        margin-top: 0;
    }
}

.content-sidebar-wrap {
	@include makeRow($no-padding:true);
	margin: $small-site-content-margin;
	@include breakpoint($medium) {
        margin: $site-content-margin;
    }
}

.content-sidebar .content,
.sidebar-content .content {
	@include makeColumn(sm, $size:12, $offset:0);
	@include makeColumn(md, $size:9, $offset:0);
    @include makeColumn(lg, $size:8, $offset:0);
	display: flex;
}

.content-sidebar .sidebar,
.sidebar-content .sidebar {
	@include makeColumn(sm, $size:12, $offset:0);
	@include makeColumn(md, $size:3, $offset:0);
    @include makeColumn(lg, $size:4, $offset:0);

}

.full-width-content .content {
	width: 100%;
}